{{ define "main" }}
    <h1 class="text-xl font-semibold">{{ .Title }}</h1>
    {{ $paginator := .Paginate (where $.Site.RegularPages "Section" "projects") }}
    <ul class="space-y-2">
        {{ range $paginator.Pages }}
            <li
                aria-labelledby="{{ .Title | anchorize }}_{{ .Date.Format "2006-01-02" }}"
            >
                <h2
                    id="{{ .Title | anchorize }}_{{ .Date.Format "2006-01-02" }}"
                    class="text-lg font-semibold hover:text-red-500"
                >
                    <a
                        class="underline hover:text-red-500 underline-offset-2"
                        href="{{ .Permalink }}"
                        >{{ .Title }}</a
                    >
                </h2>
                {{ if .Params.summary }}
                    <p class="text-sm italic">{{ .Params.summary }}</p>
                {{ end }}
            </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
    {{ $style := resources.Get "css/syntax.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}
