{{ define "main" }}
  {{ $paginator := .Paginate (where $.Site.RegularPages "Section" "blog") }}
  <div class="divide-y border-slate-50 divide-dotted">
  {{ range $paginator.Pages }}
    <article aria-labelledby="{{ .Title | anchorize }}" class="pt-4 pb-4 first:pt-0">
      <h2 id="{{ .Title | anchorize }}" class="mb-2 text-2xl font-semibold">
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </h2>
      <dl class="mb-4 text-slate-500">
        <dt class="sr-only">Date</dt>
        <dd>{{ .Date.Format "January 2, 2006" }}</dd>
      </dl>
      <a class="sr-only" href="{{ .RelPermalink }}">
        Read the article
      </a>
    </article>
  {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
  {{ $style := resources.Get "css/syntax.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
