{{ define "main" }}
<article class="mb-12 sm:mb-24">
  {{ partial "post-header.html" . }}
  {{ partial "translations.html" . }}
  <section class="max-w-full prose prose-slate prose-table:overflow-x-scroll hover:prose-a:text-red-500 prose-table:min-w-full">
    {{ .Content }}
  </section>
  {{ if .Params.series }}
    {{ with index $.Site.Data.series .Params.series }}
      <div id="series" class="pt-8">
        {{ partial "series.html" (dict "series" . "currentSlug" $.Page.Slug) }}
      </div>
    {{ end }}
  {{ end }}
</article>
{{ $style := resources.Get "css/syntax.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
