
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-Black.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-ExtraBold.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-Bold.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-SemiBold.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-Medium.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-Regular.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-Light.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-ExtraLight.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Work-Sans';
    src: url('/fonts/worksans/woff2/WorkSans-Thin.woff2') format('woff2'),
      url('/fonts/worksans/woff/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
